---
layout: default
title: About Adrian - Wallace for Lexington
---

<div class="hero-image bio-image">
  <div class="hero-text">About Adrian&nbsp;Wallace</div>
</div>
{% include ctasmall.html %}
<div id="bio-text">
  <p>Adrian Wallace is a community development professional and minister, having founded and served as President and CEO of The Bishop and Chase Foundation in 2015, a community development corporation based in Lexington. He joined the staff at Community Ventures in 2016 to assist in their statewide neighborhood level revitalization and development.</p>
  <img id="bio-img-1" src="/assets/img/church.jpg" alt="">
  <p>He began community development work out of the necessity presented by the families that he worked with through his inner city ministry at Broadway Christian Church, as well as while on staff with Employment Solutions, Inc. an educational and job placement non-profit organization.</p>
  <p>Adrian also serves as a Community Chaplain with the Lexington Police Department, on the Board of Directors of Arbor Youth Services (Chairman of the Board 2017), the Lighthouse Ministries, 4Kids Incorporated, the Steering Committee for the Juvenile Detention Alternatives Initiative (JDAI), the Executive and Political Action Committees for the Lexington NAACP and was appointed by Lexington Mayor and city council in January 2015 to serve on the Lexington-Fayette Urban County Government Homelessness Prevention and Intervention Board. That same year, Adrian was commissioned as a Kentucky Colonel, Aide-de-Camp to the Governor of Kentucky. He is also a veteran of Operation Iraqi Freedom.</p>
  <img id="bio-img-2" src="/assets/img/army.jpg" alt="">
  <p>He attended Kentucky State University in 2004, majoring in Pre-Law and later studied at Asbury University from 2012-2014, pursuing a Bachelor’s in Leadership and Ministry, upon leaving the military.</p>
  <p>Adrian and his wife, Jennifer, have four beautiful girls and one boy, residing in Lexington, Kentucky.</p>
  <p class="military">Adrian Wallace is a former member of the Kentucky Army National Guard. Use of his military rank, job titles, and photographs in uniform does not imply endorsement by the Kentucky Army National Guard, the Department of the Army or the Department of Defense.</p>
</div>
{% include cta.html %}
