.hero-image.contribute-image
  +background-image(linear-gradient(rgba($secondary-blue, 0.3), rgba($secondary-blue, 0.3)), url(/assets/img/wallacespeaking.jpeg))
  background-position: 0 30%

  +media($tablet)
    background-position: 0 20px

  +media($mobile)
    background-position: 40% 70px

  +media($smlphone)
    background-position: 45% 50px

.contribute-container, .contribute-rules
  +outer-container(90%)
  padding-top: 20px

.contribute-about
  +span-columns(4)
  font-size: 1.5em
  font-weight: 700

  +media($tablet)
    +span-columns(8)
  +media($mobile)
    +span-columns(4)
  +media($smlphone)
    +span-columns(4)

.contribute-area
  +span-columns(8)

  +media($tablet)
    +span-columns(8)
  +media($mobile)
    +span-columns(4)
  +media($smlphone)
    +span-columns(4)

.contribute-rules
  font-size: 15px
  font-weight: normal

  p
    margin: 0

//AMOUNT INFO

ul
  padding: 0
  margin: 0

#monthly
  font-size: 1.75em
  font-weight: 700
  color: darken($secondary-blue, 10%)
  margin-bottom: 5px

.amount
  +span-columns(2 of 8)
  +omega(4n)

  +media($tablet)
    +span-columns(4 of 8)
    +omega(2n)
  +media($mobile)
    +span-columns(2 of 4)
    +omega(2n)
  +media($smlphone)
    +span-columns(2 of 4)
    +omega(2n)

input[type=radio]
  display: none

input[type=radio]:checked+label
  background-color: $headerColor

input[type=radio]:checked + label::before
  font-family: "Font Awesome\ 5 Free"
  content: "\f00c\ "

.donationoption
  display: block
  float: left
  background-color: $secondary-blue
  color: white
  cursor: pointer
  padding: 5px 10px
  margin-bottom: 20px
  text-align: center
  font-size: 1.5em
  font-weight: 700
  width: 50%
  border: none
  border-radius: 10px

  &:hover
    background-color: darken($secondary-blue, 10%)

.contribute-button
  display: block
  background-color: $secondary-blue
  color: white
  cursor: pointer
  padding: 5px 10px
  margin-bottom: 20px
  text-align: center
  font-size: 1.25em
  font-weight: 700
  width: 100%
  border: none
  border-radius: 10px
  cursor: pointer

  &:hover
    background-color: darken($secondary-blue, 10%)


// Success and Canceled Pages
.hero-image.sc-image
  +background-image(linear-gradient(rgba($secondary-blue, 0.3), rgba($secondary-blue, 0.3)), url(/assets/img/wallacespeaking.jpeg))
  background-position: 0 30%

  +media($tablet)
    background-position: 0 20px

  +media($mobile)
    background-position: 40% 70px

  +media($smlphone)
    background-position: 45% 50px

.sc-container
  +outer-container(90%)
  font-size: 2em
  font-weight: 700
  p
    margin: 0
  a
    margin-left: 10px
    background-color: $secondary-blue
    color: white
    padding: 5px 10px
    margin-bottom: 20px
    text-align: center
    font-size: 1.25em
    font-weight: 700
    width: 100%
    border: none
    border-radius: 10px

    &:hover
      background-color: darken($secondary-blue, 10%)
