<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/wallacelogowhite2.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="/aboutadrian.html">meet adrian</a></li>
				<!-- <li><a href="/issues.html">issues</a></li> -->
				<li><a href="http://corrections.ky.gov/communityinfo/Pages/Restoration-of-Civil-Rights.aspx" target="_blank">voting rights restoration</a></li>
				<li><a href="https://vrsws.sos.ky.gov/ovrweb/" target="_blank">register to vote</a></li>
				<li><a href="/volunteer.html">Volunteer</a></li>
				<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5D8URU5GA8KDU" target="_blank">Contribute</a></li>
			</ul>
		</div>
		<div class="footer-contacts">
			333 West Vine Street Suite 300, Lexington, KY 40507
		</div>
		<div id="paidfor">Paid for by Wallce for Lexington<br>Kaye Price, Treasurer</div>
	</div>
</footer>
