<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/wallacecampaign.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="/aboutadrian.html">meet adrian</a></li>
				<li><a href="/issues.html">issues</a></li>
				<li><a href="https://corrections.ky.gov/Probation-and-Parole/Pages/CivilRights.aspx" target="_blank">voting rights restoration</a></li>
				<li><a href="https://vrsws.sos.ky.gov/ovrweb/" target="_blank">register to vote</a></li>
				<li><a href="/volunteer.html">Volunteer</a></li>
				<li><a href="/contribute.html">Contribute</a></li>
			</ul>
		</div>
		<div class="footer-contacts">
			P.O. Box 13334, Lexington, KY 40583
		</div>
		<div id="paidfor">Paid for by Wallace for Lexington<br>Lori Clemons, Treasurer</div>
	</div>
</footer>
